[data-sugoi-selectbox] {
  border: 1px solid #000000;
  padding: 5px;
  background: #fff;
  z-index: 999;
  position: absolute;
}

[data-sugoi-selectbox-dropdown] {
  z-index: 1000;
}

[data-sugoi-selectbox-current-value] {
  background-color: yellow;
}

[data-sugoi-selectbox-list] ul {
  padding: 0px;
}

[data-sugoi-selectbox-list] li {
    list-style-type: none;
}

.sugoi-highlight {
  background: #3875d7;
}
